.header {
    background-color: #AE6FFF;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.randomDrinks {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10em;
}

form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}