.cardText {
    width: 50%;
    margin: 2% 20%;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.card-bodyText {
    padding: 1rem;
}

.card-titleText {
    height: 2.5rem;
    margin: 4px;
    font-size: 2rem;
    color:#1C4D71
}

.card-subtitleText {
    height: 2.5rem;
    margin: 4px;
    font-size: 1rem;
    color: #1C4D71;
}

.card-text {
    height: 5.5rem;
    margin: 0;
    color:#1C4D71
}